body{
margin:0;
font-family:Georgia;
/*line-height: 1.5;*/
color:#333;

}




@media(min-width: 400px){
  body{
    font-size:16px;
  }
}
@media screen and (max-width: 1200px): {
  .App{

    max-width: '970px',
  }
  }

nav{

  color:#666;
  font-weight: 300;
  padding:0 1em;
}

li{
  display:inline-block;
  padding: 0 5px;
  margin-bottom: 2px
}


main {
  position: relative;
  max-width: 60em;
  background-color: white;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
}

h1 {
  font-size: 1.6em;
}

p {
  font-size: 14px;
}

a {
  color: inherit;
}

